<%= provide :title, t(".title") %>
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1><%= t ".title" %></h1>
            <ul class="breadcrumbs">
                <li><a href="index.html"><%= t "home" %></a></li>
                <li class="active"><%= t ".title" %></li>
            </ul>
        </div>
    </div>
</div>

<div class="search-area" id="search-area-1">
  <div class="container">
    <div class="search-area-inner">
      <div class="search-contents ">
        <%= search_form_for @q, url: searchs_path, remote: true do |f| %>
        <div class="row">
          <div class="col-6 col-lg-3 col-md-3">
            <div class="form-group">
              <h5>Brand</h5><br>
              <%= f.select :brand_id_eq_any, Brand.all.collect { |p| [ p.name, p.id ] },
               { include_blank: "All Brand" }, {class: "selectpicker search-fields"} %>
            </div>
          </div>
          <div class="col-6 col-lg-3 col-md-3">
            <h5>Price</h5>
            <div class="radio">
              <input type="radio" name="rate" id="rate1" value="option1" >
              <label for="rate2">0 - 500 $ </label>
            </div>
            <div class="radio">
              <input type="radio" name="rate" id="rate2" value="option2">
              <label for="rate3">500 - 1.000 $</label>
            </div>
            <div class="radio">
              <input type="radio" name="rate" id="rate3" value="option3">
              <label for="rate4">1.000 - 2.000 $ </label>
            </div>
            <div class="radio">
              <input type="radio" name="rate" id="rate4" value="option4">
              <label for="rate5">2.000 $ + </label>
            </div>
          </div>
          <div class="col-6 col-lg-3 col-md-3">
            <div class="form-group">
              <button class="search-button btn-md btn-color" type="submit">Search</button>
            </div>
          </div> 
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div id="search_type">
  <%= render "search_result" %>
</div>
