<div class="col-lg-4 col-md-12">
  <% if @review.present? %>
    <div class="sidebar mbl">
      <div class="widget categories">
        <h5 class="sidebar-title">Rate</h5>
        <div class="price-ratings-box">
          <h6 class="display-inline width-100">Overall:</h6>
          <div class="display-inline"><%= rating_for @review, "original_score", star: 5,  disable_after_rate: false %></div>
          <br>
          <h6 class="display-inline width-100">CPU:</h6>
          <div class="display-inline"><%= rating_for @review, "cpu", star: 5,  disable_after_rate: false %></div>
          <br>
          <h6 class="display-inline width-100">Screen size:</h6>
          <div class="display-inline"><%= rating_for @review, "screen_size", star: 5,  disable_after_rate: false %></div>
          <br>
          <h6 class="display-inline width-100">Battery:</h6>
          <div class="display-inline"><%= rating_for @review, "battery", star: 5,  disable_after_rate: false %></div>
          <br>
          <h6 class="display-inline width-100">Price:</h6>
          <div class="display-inline"><%= rating_for @review, "price", star: 5,  disable_after_rate: false %></div>
          <br>
          <%= bar_chart [
            ["Overall", @review.rates("original_score").count==0?0:@review.average("original_score").avg], 
            ["CPU", @review.rates("cpu").count==0?0:@review.average("cpu").avg],
            ["Screen size", @review.rates("screen_size").count==0?0:@review.average("screen_size").avg],
            ["Battery", @review.rates("battery").count==0?0:@review.average("battery").avg],
            ["Price", @review.rates("price").count==0?0:@review.average("price").avg]
            ], min: 0, max: 5 %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="sidebar mbl">
    <!-- Categories start -->
    <div class="widget categories">
      <h5 class="sidebar-title">Brand</h5>
      <ul>
        <% @brand_all.each do |brand| %>
          <li>
            <%= link_to brand_path(brand) do %>
              <%= brand.name %><span>(<%= brand.reviews.where(is_confirm: true).count %>)</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <!-- Recent posts start -->
    <div class="widget recent-posts">
      <h5 class="sidebar-title">Recent Review</h5>
      <% @review_recent.each do |review| %>
        <div class="media mb-4">
          <a class="pr-4" href="properties-details.html">
            <% if review.picture? %>
              <%= cl_image_tag(review.picture, :class => "img-fluid") %>
            <% else %>
              <%= image_tag("banner-3.jpg", :class => "sub-property") %>
            <% end %>
          </a>
          <div class="media-body align-self-center">
            <h5>
              <%= link_to review.name, review_path(review) %>
            </h5>
            <p><%= review.created_at %></p>
            <p> <strong><%= t "admin.reviews.review_detail.price_str", price: price_review(review.price) %>VND</strong></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
