<footer class="footer">
  <div class="container footer-inner">
    <div class="row">
      <div class="col-xl-3 col-lg-1 col-md-6 col-sm-6">
        <div class="footer-item">
          <h4>Contact Us</h4>
          <ul class="contact-info">
            <li>
              Address: Hedspi, Hanoi University of Science and Technology
            </li>
            <li>
              Email: <a href="mailto:info@themevessel.com">info@hedspi.com</a>
            </li>
            <li>
              Phone: <a href="tel:+0477-85x6-552">+8888 8888 88</a>
            </li>
            <li>
              Fax: +8888 8888 88
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <!-- <div class="footer-item clearfix">
          <h4>Subscribe</h4>
          <div class="Subscribe-box">
            <p>Get more reviews.</p>
            <form action="#" method="GET">
              <p>
                <input type="text" class="form-contact" name="email" placeholder="Enter Address">
              </p>
              <p>
                <button type="submit" name="submitNewsletter" class="btn btn-block btn-color">
                Subscribe
                </button>
              </p>
            </form>
          </div>
        </div> -->
        <div class="recent-posts footer-item">
          <h4>Recent Reviews</h4>
          <div class="media mb-4">
            <% if @rrf[0].picture.present? %>
              <%= cl_image_tag(@rrf[0].picture) %>
            <% else %>
              <%= image_tag('banner-1.jpg') %>
            <% end %>
            <div class="media-body align-self-center">
              <h5>
                <%= link_to @rrf[0].name, @rrf[0] %>
              </h5>
            </div>
          </div>
          <div class="media">
            <% if @rrf[1].picture.present? %>
              <%= cl_image_tag(@rrf[1].picture) %>
            <% else %>
              <%= image_tag('banner-1.jpg') %>
            <% end %>
            <div class="media-body align-self-center">
              <h5>
                <%= link_to @rrf[1].name, @rrf[1] %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <p class="copy">&copy;  2018 <a href="#" target="_blank">Hedspi K59</a>. We make it awesome!</p>
      </div>
    </div>
  </div>
</footer>
