<header class="main-header do-sticky" id="main-header-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light rounded">
          <%= link_to image_tag("black-logo.png", alt:"logo"), root_path, class:"navbar-brand logo navbar-brand d-flex w-20 mr-auto" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= form_for(:search, url: search_path, :method => :get, :html => {:class => 'nav-link'}) do |f| %>
                  <%= search_field_tag :q, "", class:"search_input"%>
                  <%= f.button :search, class:"btn btn-sm btn-info search_submit" %>
                  <!-- <i class="fa fa-search"></i> -->
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to t(".all_review"), reviews_path, class:"nav-link" %>
              </li>
              <% if user_signed_in? %>
                <li>
                  <%= link_to t(".create_review"), new_review_path, class:"nav-link" %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.name %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    <%= link_to t(".my_profile"), edit_user_registration_path, class:"dropdown-item" %>
                    <%= link_to t(".sign_out"), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                  </div>
                </li>
                <% if current_user.is_admin? %>
                  <li class="nav-item">
                    <%= link_to t(".manage_review"), admin_reviews_path, class:"nav-link" %>
                  </li>
                <% end %>
              <% else %>
                <li class="nav-item">
                  <%= link_to t(".sign_in"), new_user_session_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to t(".sign_up"), new_user_registration_path, class:"nav-link" %>
                </li>
              <% end %>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0"> -->
              <!-- <a id="btn-full-page-search" href="javascript:void(0)" class=" my-2 my-sm-0"> -->
               <!--  <%= form_for :search, url: search_path do |f| %>
                    <%= search_field_tag :q, "" %>
                    <%= f.button :submit, class:"btn btn-sm" %>
                <% end %> -->
                <!-- <i class="fa fa-search"></i> -->
              <!-- </a> -->
            <!-- </form> -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <%= form_for :search, url: search_path do |f| %>
        <%= search_field_tag :q, "type keyword(s) here" %>
        <%= f.button :submit, class:"btn btn-sm" %>
    <% end %>
</div>
